asgiref==3.11.1
boto3==1.43.29
botocore==1.43.29
certifi==2026.5.20
charset-normalizer==3.4.7
cloudinary==1.44.2
Django==5.2.15
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-filter==24.3
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==21.2.0
idna==3.18
jmespath==1.1.0
packaging==26.2
pillow==10.4.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
requests==2.34.2
resend==2.30.1
s3transfer==0.18.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
anthropic==0.69.0
